/node_modules
/public/hot
/public/css
/public/data
/public/js
/public/json
/public/storage
/storage/*.key
!/storage/app/ke.json
/vendor
/bkp
.DS_Store
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
