/node_modules
/public/hot
/public/css
/public/js
/public/vendor
/public/images
/public/storage
/public/uploads
/storage/*.key
/vendor
*.sql
.env
.sync
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.env.prod
.docker/sql/*