/* survey dropdown custom */
.dropdown-menu.show {
    min-height: auto !important;
}
.inner.show {
    min-height: auto !important;
}
/* eol survey dropdown custom */

.btn {
    border-radius: 0 !important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

html,
body {
    overflow-x: hidden;
    font-family: 'Montsterrat', sans-serif;
    /* Prevent scroll on narrow devices */
}

body {
    padding-top: 56px;
}

@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px;
        /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #343a40;
        transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    }
    .offcanvas-collapse.open {
        visibility: visible;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
.navbar {
    padding: 0;
    background: white;
}
.nav-item a {
    color: black !important;
    font-weight:700;
}
.nav-item a:hover {
    color: #a43332 !important;
    font-weight:700;
}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: 3rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

.nav-underline .nav-link:hover {
    color: #007bff;
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

.nav,
.navbar {
    border-bottom: 1px solid #ddd;
}
.navbar .nav-link {
    padding: 1rem;
}

.navbar .navbar-brand {
    width: 150px;
    padding: 1rem;
}

.flex-display{
    display: inline-block;
    width:100%;
    background: #f8f9fa!important;
}
@media (min-width: 1100px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 1rem 1rem;
    }
    nav.nav.nav-md-6.align-right {
        flex-direction: row-reverse;
    }
    nav .btn-group{
        min-width: 135px;
    }
    .flex-display{
        display: flex;
        background: #f8f9fa!important;
    }
}
.navbar-light .navbar-toggler {
    padding: 1rem!important;
}
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    background: #0069d9;
    color: #fff;
}
.text-white-50 {
    color: rgba(255, 255, 255, .5);
}

.bg-purple {
    background-color: #6f42c1;
}

.lh-100 {
    line-height: 1;
}

.lh-125 {
    line-height: 1.25;
}

.lh-150 {
    line-height: 1.5;
}

nav.nav button {
    width: 20%;
}
nav.nav-md-6{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
nav.nav-selector {
	padding-left: 10px;
}
nav span{
	display:block!important;
	min-width: 50%;
    width: -webkit-calc(100% - 180px);
    width:    -moz-calc(100% - 180px);
    width:         calc(100% - 180px);
}
nav span input{
	width: 100%;
}
nav span.daterange{
	min-width:auto;
	width: auto;
}
span.daterange{
	background-color: #f8f9fa!important;
	box-shadow: none;
	cursor:unset;
}
span.daterange:hover{
	box-shadow: none;
}
span.daterange::after{
    display:none
}
input.btn.dropdown-toggle.btn-light{
    width: 200px;
    text-align: left;
    border: none;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn):focus {
	outline: none;
}
button.btn.dropdown-toggle.btn-pink.bs-placeholder {
    color: #FFF;
}
.daterangepicker .ranges li.active,
.dropdown-item.active, .dropdown-item:active{
	background-color:#2dbbad;
}

.footer {
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}

.hidden {
    display:none!important;
}
.card-header.2scale-brand {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color:#C9CDC0 !important;
    border-bottom: 1px solid rgba(0,0,0,.125);
}