<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="modal-subtitle" id="modal-subtitle">Modal subtitle</h5>
        <div class="modal-data">
        </div>
        <h5 class="loading-comments">
            <i class="fa fa-circle-notch fa-spin"></i> Loading Comments
        </h5>
        </hr>
        <div class="alert alert-danger alert-dismissible fade show" id="comment-alert" role="alert" style="display:none;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-comment">
            <div class="col-md-12 comment-list">
            </div>
            <div class="form-group comment-group" style="display:none;">
            <label for="input-period">Add / Edit Comments</label>
            <input class="form-control" type="hidden" id="comment-id"></input>
            <input class="form-control" type="hidden" id="comment-title"></input>
            <input class="form-control" type="hidden" id="comment-validator"></input>
            <div class="form-group comment-group" style="display:none;">
            <textarea class="form-control" rows=5 id="comment-input"></textarea>
            </div>
        </div>
      </div>
      <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="discard-comment" style="display:none;">Discard</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal">Close</button>
      </div>
    </div>
  </div>
</div>
