RewriteEngine on
RewriteCond %{HTTP_HOST} ^unicef-sig-map.tc.akvo.org$ [NC,OR]
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]

AddHandler application/x-httpd-php72 .php .php5 .php4 .php3

Options -Indexes