dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
table, table.dataTable {
    width: 100%!important;
}
/* .table.dataTable.no-footer {
    width: 100%!important;
}
.dataTables_scrollHeadInner {
    width: 100%!important;
} */

.table .thead-dark th {
    color: #fff;
    background-color: #333433;
    border-color: #454d55;
}
tr.level_1 {
    background: #C9CDC0;
}
tr.level_1>td {
    font-weight: bold;
}
tr.level_2 {
    background: #F9F9F9;
}
tr.level_2>td {
    font-weight: bold;
}

tr.last_child {
    background: white;
}
tr.last_child>td {
    font-weight: normal;
}

tr.extras {
    background: #609ba7;
}
tr.extras > td {
    font-weight: bold;
    color: white;
}
tr.extras > td.name {
    padding-left: 10px;
}

table.dataTable>tbody>tr.child:hover {
    background: #F9F9F9!important;
}
table.dataTable>tbody>tr.child.level_3:hover {
    background: white!important;
}
table.dataTable>tbody>tr.extras.child:hover {
    background: #609ba7!important;
}

td.text-right {
    padding-right: 10px;
}

table.dataTable > thead > tr > th {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}
table.dataTable > tbody > tr > td {
    font-size: 12px;
}
table.dataTable > tbody > tr > td.partner {
    padding-left: 10px;
}

/* btn copy & print */
.btn-secondary {
    color: #fff;
    background-color:#4285f4!important;
}

@media print {
    body {
        background: white;
        -webkit-print-color-adjust: exact;
        margin: 0px!important;
    }
    @page {
        size: 23.4in 16.5in!important;
        margin: 20mm 5mm 20mm 5mm!important;
    }

    table.dataTable > thead > tr > th {
        background-color: #333433!important;
        -webkit-print-color-adjust: exact!important;
        font-size: 12px;
    }
    table > tbody > tr.extras > td {
        background-color: #609ba7!important;
        -webkit-print-color-adjust: exact!important;
        font-weight: bolder;
        color: white!important;
        font-size: 12px;
    }
    table > tbody > tr.level_1 > td {
        -webkit-print-color-adjust: exact!important;
        background-color: #C9CDC0!important;
        font-size: 12px;
    }
    table > tbody > tr.level_2 > td {
        -webkit-print-color-adjust: exact!important;
        background-color: #F9F9F9!important;
        font-size: 12px;
    }
    table > tbody > tr.level_3 > td {
        font-size: 12px;
    }
    table > tbody > tr.last_child > td {
        -webkit-print-color-adjust: exact!important;
        background-color: white!important;
    }

    /* Custom Page Break after last row */
    table {
        page-break-inside: auto;
    }
    table > tr {
        page-break-after: auto;
        page-break-inside: avoid;
    }
    table > tbody > tr.last_row {
        display: block!important;
    }
    table > tbody > tr.last_row > td {
        border: 0px solid !important;
        border-left: 0px solid !important;
        border-right: 0px solid !important;
    }
    table > tbody > tr.last_row::after {
        content: '';
        color: transparent;
        display: block!important;
        page-break-before: always!important;
    }

    table.dataTable > thead > tr > th.partner.sorting_disabled,
    table > tbody > tr.level_1 > td.partner,
    table > tbody > tr.level_2 > td.partner,
    table > tbody > tr.level_3 > td.partner,
    table > tbody > tr.extras > td.partner {
        width: 10%!important;
    }
    .table.dataTable.no-footer,
    .dataTables_scrollHeadInner {
        width:100%!important;
        table-layout: fixed!important;
        overflow-wrap: break-word!important;
    }

    /* legend */
    #table-legend {
        position: fixed;
        bottom: 0;
    }
}