/node_modules
/database/seeds
/database/factories
/public/hot
/public/images
/public/js
/public/vendor
/public/css
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/.ipynb_checkpoints
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
deploy.sh
.env
.phpunit.result.cache
