a:focus, button:focus {
	outline: 3px solid #000;
}
.no-focus a, .no-focus button {
	outline: none;
}
button.bg-light:focus {
  outline: none;
}
div.header-loading {
    width: 100%;
    text-align: center;
    margin-top: 200px;
}
div.sidebar-loading {
    width: 320px;
    text-align: center;
    margin-top: 20px;
}
div.sidebar-wrapper {
    min-width: 320px;
    overflow-y: scroll;
    min-width:0;
    min-height:0;
    overflow-x: hidden;
}
.list-group.list-group-flush {
    font-weight: 500;
    color: #333;
    font-size: 14px;
}
span.badge.badge-group {
    position: absolute;
    top: 15px;
    right: 30px;
    height: 20px;
    width: 20px;
    line-height: 15px;
    text-align: center;
    font-size:10px;
}

span.question-group-button{
    max-width: 240px;
    display: inline-block;
}
