div.header-loading {
    width: 100%;
    text-align: center;
    margin-top: 200px;
}
div.sidebar-loading {
    width: 320px;
    text-align: center;
    margin-top: 20px;
}
div.sidebar-wrapper {
    min-width: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
}
