a:focus, button:focus {
	outline: 3px solid #000;
}
.no-focus a, .no-focus button {
	outline: none;
}
button.bg-light:focus {
  outline: none;
}
div.header-loading {
    width: 100%;
    text-align: center;
    margin-top: 200px;
}
div.sidebar-loading {
    width: 320px;
    text-align: center;
    margin-top: 20px;
}
div.sidebar-wrapper {
    min-width: 320px;
    overflow-y: scroll;
    min-width:0;
    min-height:0;
    overflow-x: hidden;
}
.list-group.list-group-flush {
    font-weight: 500;
    color: #333;
    font-size: 14px;
}
span.badge.badge-group {
    position: absolute;
    top: 15px;
    right: 30px;
    height: 20px;
    width: 20px;
    line-height: 15px;
    text-align: center;
    font-size:10px;
}

span.question-group-button{
    max-width: 240px;
    display: inline-block;
}

.ln-index {
    display: inline-block;
    width: 5%;
    vertical-align: top;
    font-size: 14px;
}
.ln-question {
    display: inline-block;
    width: 95%;
    vertical-align: top;
    font-size: 14px;
}
#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 240px;
}

.notfound .notfound-404 h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #ea5547;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.notfound .notfound-404 h1>span {
  text-shadow: -8px 0px 0px #fff;
}

.notfound .notfound-404 h3 {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.notfound h2 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-top: 0px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 200px;
  }
  .notfound .notfound-404 h1 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 162px;
  }
  .notfound .notfound-404 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .notfound h2 {
    font-size: 16px;
  }
}
