<html><body><table border="0" class="table">
<thead>
<tr>



<th></th><th class="text-center" colspan="3">actual_value</th>
<th class="text-center" colspan="3">aggr_value</th>
<th class="text-center" colspan="3">target_value</th>
</tr>
<tr>


<th>country</th>
<th class="text-center">Malawi</th>
<th class="text-center">Mozambique</th>
<th class="text-center">Zambia</th>
<th class="text-center">Malawi</th>
<th class="text-center">Mozambique</th>
<th class="text-center">Zambia</th>
<th class="text-center">Malawi</th>
<th class="text-center">Mozambique</th>
<th class="text-center">Zambia</th>
</tr>
<tr>












</tr>
</thead>
<tbody>
<tr>
<th>Number of collaborative research and development projects under implementation</th>


<td class="text-right">44.0</td>
<td class="text-right">42.0</td>
<td class="text-right">64.0</td>
<td class="text-right">22.0</td>
<td class="text-right">21.0</td>
<td class="text-right">31.0</td>
<td class="text-right">60.0</td>
<td class="text-right">72.0</td>
<td class="text-right">64.0</td>
</tr>
<tr>
<th style="padding-left:30">+ Type of research project</th>

<td class="text-right">44.0</td>
<td class="text-right">42.0</td>
<td class="text-right">64.0</td>
<td class="text-right">22.0</td>
<td class="text-right">21.0</td>
<td class="text-right">31.0</td>
<td class="text-right">60.0</td>
<td class="text-right">72.0</td>
<td class="text-right">64.0</td>
</tr>
<tr>
<th style="padding-left:50">• Technology dissemination</th>
<td class="text-right">22.0</td>
<td class="text-right">21.0</td>
<td class="text-right">32.0</td>
<td class="text-right">9.0</td>
<td class="text-right">11.0</td>
<td class="text-right">13.0</td>
<td class="text-right">30.0</td>
<td class="text-right">36.0</td>
<td class="text-right">32.0</td>
</tr>
<tr>
<th style="padding-left:50">• Technology generation</th>
<td class="text-right">22.0</td>
<td class="text-right">21.0</td>
<td class="text-right">32.0</td>
<td class="text-right">13.0</td>
<td class="text-right">10.0</td>
<td class="text-right">18.0</td>
<td class="text-right">30.0</td>
<td class="text-right">36.0</td>
<td class="text-right">32.0</td>
</tr>
<tr>
<th>Number of staff trained per research center</th>


<td class="text-right">23990.0</td>
<td class="text-right">8440.0</td>
<td class="text-right">2150.0</td>
<td class="text-right">9596.0</td>
<td class="text-right">3376.0</td>
<td class="text-right">860.0</td>
<td class="text-right">470.0</td>
<td class="text-right">700.0</td>
<td class="text-right">880.0</td>
</tr>
<tr>
<th style="padding-left:30">+ Gender RCoL</th>

<td class="text-right">11995.0</td>
<td class="text-right">4220.0</td>
<td class="text-right">1075.0</td>
<td class="text-right">4798.0</td>
<td class="text-right">1688.0</td>
<td class="text-right">430.0</td>
<td class="text-right">235.0</td>
<td class="text-right">350.0</td>
<td class="text-right">440.0</td>
</tr>
<tr>
<th style="padding-left:50">• Female</th>
<td class="text-right">2399.0</td>
<td class="text-right">844.0</td>
<td class="text-right">215.0</td>
<td class="text-right">1008.0</td>
<td class="text-right">253.0</td>
<td class="text-right">80.0</td>
<td class="text-right">47.0</td>
<td class="text-right">70.0</td>
<td class="text-right">88.0</td>
</tr>
<tr>
<th style="padding-left:50">• Male</th>
<td class="text-right">2399.0</td>
<td class="text-right">844.0</td>
<td class="text-right">215.0</td>
<td class="text-right">1391.0</td>
<td class="text-right">591.0</td>
<td class="text-right">135.0</td>
<td class="text-right">47.0</td>
<td class="text-right">70.0</td>
<td class="text-right">88.0</td>
</tr>
<tr>
<th style="padding-left:50">• management and leadership training</th>
<td class="text-right">2399.0</td>
<td class="text-right">844.0</td>
<td class="text-right">215.0</td>
<td class="text-right">23.0</td>
<td class="text-right">0.0</td>
<td class="text-right">52.0</td>
<td class="text-right">47.0</td>
<td class="text-right">70.0</td>
<td class="text-right">88.0</td>
</tr>
<tr>
<th style="padding-left:50">• technical research and dissemination training</th>
<td class="text-right">2399.0</td>
<td class="text-right">844.0</td>
<td class="text-right">215.0</td>
<td class="text-right">1916.0</td>
<td class="text-right">784.0</td>
<td class="text-right">108.0</td>
<td class="text-right">47.0</td>
<td class="text-right">70.0</td>
<td class="text-right">88.0</td>
</tr>
<tr>
<th style="padding-left:50">• training in administrative processes</th>
<td class="text-right">2399.0</td>
<td class="text-right">844.0</td>
<td class="text-right">215.0</td>
<td class="text-right">460.0</td>
<td class="text-right">60.0</td>
<td class="text-right">55.0</td>
<td class="text-right">47.0</td>
<td class="text-right">70.0</td>
<td class="text-right">88.0</td>
</tr>
<tr>
<th style="padding-left:30">+ Type of training</th>

<td class="text-right">11995.0</td>
<td class="text-right">4220.0</td>
<td class="text-right">1075.0</td>
<td class="text-right">4798.0</td>
<td class="text-right">1688.0</td>
<td class="text-right">430.0</td>
<td class="text-right">235.0</td>
<td class="text-right">350.0</td>
<td class="text-right">440.0</td>
</tr>
<tr>
<th style="padding-left:50">• Female</th>
<td class="text-right">2399.0</td>
<td class="text-right">844.0</td>
<td class="text-right">215.0</td>
<td class="text-right">1008.0</td>
<td class="text-right">253.0</td>
<td class="text-right">80.0</td>
<td class="text-right">47.0</td>
<td class="text-right">70.0</td>
<td class="text-right">88.0</td>
</tr>
<tr>
<th style="padding-left:50">• Male</th>
<td class="text-right">2399.0</td>
<td class="text-right">844.0</td>
<td class="text-right">215.0</td>
<td class="text-right">1391.0</td>
<td class="text-right">591.0</td>
<td class="text-right">135.0</td>
<td class="text-right">47.0</td>
<td class="text-right">70.0</td>
<td class="text-right">88.0</td>
</tr>
<tr>
<th style="padding-left:50">• management and leadership training</th>
<td class="text-right">2399.0</td>
<td class="text-right">844.0</td>
<td class="text-right">215.0</td>
<td class="text-right">23.0</td>
<td class="text-right">0.0</td>
<td class="text-right">52.0</td>
<td class="text-right">47.0</td>
<td class="text-right">70.0</td>
<td class="text-right">88.0</td>
</tr>
<tr>
<th style="padding-left:50">• technical research and dissemination training</th>
<td class="text-right">2399.0</td>
<td class="text-right">844.0</td>
<td class="text-right">215.0</td>
<td class="text-right">1916.0</td>
<td class="text-right">784.0</td>
<td class="text-right">108.0</td>
<td class="text-right">47.0</td>
<td class="text-right">70.0</td>
<td class="text-right">88.0</td>
</tr>
<tr>
<th style="padding-left:50">• training in administrative processes</th>
<td class="text-right">2399.0</td>
<td class="text-right">844.0</td>
<td class="text-right">215.0</td>
<td class="text-right">460.0</td>
<td class="text-right">60.0</td>
<td class="text-right">55.0</td>
<td class="text-right">47.0</td>
<td class="text-right">70.0</td>
<td class="text-right">88.0</td>
</tr>
<tr>
<th>PDO 1 Number of technologies that are being made available to farmers and other end users</th>


<td class="text-right">504.0</td>
<td class="text-right">805.0</td>
<td class="text-right">637.0</td>
<td class="text-right">127.0</td>
<td class="text-right">166.0</td>
<td class="text-right">133.0</td>
<td class="text-right">532.0</td>
<td class="text-right">189.0</td>
<td class="text-right">616.0</td>
</tr>
<tr>
<th style="padding-left:30">+ Type of technology</th>

<td class="text-right">504.0</td>
<td class="text-right">805.0</td>
<td class="text-right">637.0</td>
<td class="text-right">127.0</td>
<td class="text-right">166.0</td>
<td class="text-right">133.0</td>
<td class="text-right">532.0</td>
<td class="text-right">189.0</td>
<td class="text-right">616.0</td>
</tr>
<tr>
<th style="padding-left:50">• Cassava</th>
<td class="text-right">72.0</td>
<td class="text-right">115.0</td>
<td class="text-right">91.0</td>
<td class="text-right">0.0</td>
<td class="text-right">6.0</td>
<td class="text-right">7.0</td>
<td class="text-right">76.0</td>
<td class="text-right">27.0</td>
<td class="text-right">88.0</td>
</tr>
<tr>
<th style="padding-left:50">• Legumes</th>
<td class="text-right">72.0</td>
<td class="text-right">115.0</td>
<td class="text-right">91.0</td>
<td class="text-right">34.0</td>
<td class="text-right">23.0</td>
<td class="text-right">22.0</td>
<td class="text-right">76.0</td>
<td class="text-right">27.0</td>
<td class="text-right">88.0</td>
</tr>
<tr>
<th style="padding-left:50">• Maize</th>
<td class="text-right">72.0</td>
<td class="text-right">115.0</td>
<td class="text-right">91.0</td>
<td class="text-right">12.0</td>
<td class="text-right">12.0</td>
<td class="text-right">9.0</td>
<td class="text-right">76.0</td>
<td class="text-right">27.0</td>
<td class="text-right">88.0</td>
</tr>
<tr>
<th style="padding-left:50">• Number of improved agronomic, pest and disease, and water management  practices</th>
<td class="text-right">72.0</td>
<td class="text-right">115.0</td>
<td class="text-right">91.0</td>
<td class="text-right">15.0</td>
<td class="text-right">19.0</td>
<td class="text-right">15.0</td>
<td class="text-right">76.0</td>
<td class="text-right">27.0</td>
<td class="text-right">88.0</td>
</tr>
<tr>
<th style="padding-left:50">• Number of improved post-harvest storage, labor-saving and processing technologies</th>
<td class="text-right">72.0</td>
<td class="text-right">115.0</td>
<td class="text-right">91.0</td>
<td class="text-right">2.0</td>
<td class="text-right">45.0</td>
<td class="text-right">33.0</td>
<td class="text-right">76.0</td>
<td class="text-right">27.0</td>
<td class="text-right">88.0</td>
</tr>
<tr>
<th style="padding-left:50">• Number of improved seed varieties</th>
<td class="text-right">72.0</td>
<td class="text-right">115.0</td>
<td class="text-right">91.0</td>
<td class="text-right">55.0</td>
<td class="text-right">51.0</td>
<td class="text-right">43.0</td>
<td class="text-right">76.0</td>
<td class="text-right">27.0</td>
<td class="text-right">88.0</td>
</tr>
<tr>
<th style="padding-left:50">• Rice</th>
<td class="text-right">72.0</td>
<td class="text-right">115.0</td>
<td class="text-right">91.0</td>
<td class="text-right">9.0</td>
<td class="text-right">10.0</td>
<td class="text-right">4.0</td>
<td class="text-right">76.0</td>
<td class="text-right">27.0</td>
<td class="text-right">88.0</td>
</tr>
<tr>
<th>PDO 3 Number of technologies generated or promoted by the Project in one country that are released in another country</th>


<td class="text-right">126.0</td>
<td class="text-right">196.0</td>
<td class="text-right">15.0</td>
<td class="text-right">22.0</td>
<td class="text-right">38.0</td>
<td class="text-right">5.0</td>
<td class="text-right">105.0</td>
<td class="text-right">49.0</td>
<td class="text-right">42.0</td>
</tr>
<tr>
<th style="padding-left:30">+ Type of technology</th>

<td class="text-right">126.0</td>
<td class="text-right">196.0</td>
<td class="text-right">15.0</td>
<td class="text-right">22.0</td>
<td class="text-right">38.0</td>
<td class="text-right">5.0</td>
<td class="text-right">105.0</td>
<td class="text-right">49.0</td>
<td class="text-right">42.0</td>
</tr>
<tr>
<th style="padding-left:50">• Cassava</th>
<td class="text-right">18.0</td>
<td class="text-right">28.0</td>
<td class="text-right">0.0</td>
<td class="text-right">0.0</td>
<td class="text-right">0.0</td>
<td class="text-right">0.0</td>
<td class="text-right">15.0</td>
<td class="text-right">7.0</td>
<td class="text-right">0.0</td>
</tr>
<tr>
<th style="padding-left:50">• Legumes</th>
<td class="text-right">18.0</td>
<td class="text-right">28.0</td>
<td class="text-right">0.0</td>
<td class="text-right">4.0</td>
<td class="text-right">8.0</td>
<td class="text-right">0.0</td>
<td class="text-right">15.0</td>
<td class="text-right">7.0</td>
<td class="text-right">0.0</td>
</tr>
<tr>
<th style="padding-left:50">• Maize</th>
<td class="text-right">18.0</td>
<td class="text-right">28.0</td>
<td class="text-right">0.0</td>
<td class="text-right">4.0</td>
<td class="text-right">0.0</td>
<td class="text-right">0.0</td>
<td class="text-right">15.0</td>
<td class="text-right">7.0</td>
<td class="text-right">0.0</td>
</tr>
<tr>
<th style="padding-left:50">• Number of improved agronomic, pest and disease, and water management  practices</th>
<td class="text-right">18.0</td>
<td class="text-right">28.0</td>
<td class="text-right">5.0</td>
<td class="text-right">0.0</td>
<td class="text-right">7.0</td>
<td class="text-right">0.0</td>
<td class="text-right">15.0</td>
<td class="text-right">7.0</td>
<td class="text-right">14.0</td>
</tr>
<tr>
<th style="padding-left:50">• Number of improved post-harvest storage, labor-saving and processing technologies</th>
<td class="text-right">18.0</td>
<td class="text-right">28.0</td>
<td class="text-right">5.0</td>
<td class="text-right">0.0</td>
<td class="text-right">11.0</td>
<td class="text-right">0.0</td>
<td class="text-right">15.0</td>
<td class="text-right">7.0</td>
<td class="text-right">14.0</td>
</tr>
<tr>
<th style="padding-left:50">• Number of improved seed varieties</th>
<td class="text-right">18.0</td>
<td class="text-right">28.0</td>
<td class="text-right">5.0</td>
<td class="text-right">11.0</td>
<td class="text-right">10.0</td>
<td class="text-right">5.0</td>
<td class="text-right">15.0</td>
<td class="text-right">7.0</td>
<td class="text-right">14.0</td>
</tr>
<tr>
<th style="padding-left:50">• Rice</th>
<td class="text-right">18.0</td>
<td class="text-right">28.0</td>
<td class="text-right">0.0</td>
<td class="text-right">3.0</td>
<td class="text-right">2.0</td>
<td class="text-right">0.0</td>
<td class="text-right">15.0</td>
<td class="text-right">7.0</td>
<td class="text-right">0.0</td>
</tr>
<tr>
<th>Percentage of collaborative research and development projects completed</th>


<td class="text-right">96.0</td>
<td class="text-right">0.0</td>
<td class="text-right">56.0</td>
<td class="text-right">79.0</td>
<td class="text-right">0.0</td>
<td class="text-right">73.0</td>
<td class="text-right">160.0</td>
<td class="text-right">80.0</td>
<td class="text-right">150.0</td>
</tr>
<tr>
<th style="padding-left:30">+ Type of research project</th>

<td class="text-right">96.0</td>
<td class="text-right">0.0</td>
<td class="text-right">56.0</td>
<td class="text-right">79.0</td>
<td class="text-right">0.0</td>
<td class="text-right">73.0</td>
<td class="text-right">160.0</td>
<td class="text-right">80.0</td>
<td class="text-right">150.0</td>
</tr>
<tr>
<th style="padding-left:50">• Technology dissemination</th>
<td class="text-right">48.0</td>
<td class="text-right">0.0</td>
<td class="text-right">28.0</td>
<td class="text-right">46.0</td>
<td class="text-right">0.0</td>
<td class="text-right">58.0</td>
<td class="text-right">80.0</td>
<td class="text-right">40.0</td>
<td class="text-right">75.0</td>
</tr>
<tr>
<th style="padding-left:50">• Technology generation</th>
<td class="text-right">48.0</td>
<td class="text-right">0.0</td>
<td class="text-right">28.0</td>
<td class="text-right">33.0</td>
<td class="text-right">0.0</td>
<td class="text-right">15.0</td>
<td class="text-right">80.0</td>
<td class="text-right">40.0</td>
<td class="text-right">75.0</td>
</tr>
<tr>
<th>Total # of funded scholarship holder that have successfully completed long term training</th>


<td class="text-right">24.0</td>
<td class="text-right">54.0</td>
<td class="text-right">120.0</td>
<td class="text-right">4.0</td>
<td class="text-right">10.0</td>
<td class="text-right">28.0</td>
<td class="text-right">150.0</td>
<td class="text-right">30.0</td>
<td class="text-right">258.0</td>
</tr>
<tr>
<th style="padding-left:30">+ Type of scholarship</th>

<td class="text-right">24.0</td>
<td class="text-right">54.0</td>
<td class="text-right">120.0</td>
<td class="text-right">4.0</td>
<td class="text-right">10.0</td>
<td class="text-right">28.0</td>
<td class="text-right">150.0</td>
<td class="text-right">30.0</td>
<td class="text-right">258.0</td>
</tr>
<tr>
<th style="padding-left:50">• Number of BSc</th>
<td class="text-right">4.0</td>
<td class="text-right">9.0</td>
<td class="text-right">20.0</td>
<td class="text-right">2.0</td>
<td class="text-right">7.0</td>
<td class="text-right">15.0</td>
<td class="text-right">25.0</td>
<td class="text-right">5.0</td>
<td class="text-right">43.0</td>
</tr>
<tr>
<th style="padding-left:50">• Number of MSc</th>
<td class="text-right">4.0</td>
<td class="text-right">9.0</td>
<td class="text-right">20.0</td>
<td class="text-right">2.0</td>
<td class="text-right">1.0</td>
<td class="text-right">4.0</td>
<td class="text-right">25.0</td>
<td class="text-right">5.0</td>
<td class="text-right">43.0</td>
</tr>
<tr>
<th style="padding-left:50">• Number of PhD</th>
<td class="text-right">4.0</td>
<td class="text-right">9.0</td>
<td class="text-right">20.0</td>
<td class="text-right">0.0</td>
<td class="text-right">1.0</td>
<td class="text-right">1.0</td>
<td class="text-right">25.0</td>
<td class="text-right">5.0</td>
<td class="text-right">43.0</td>
</tr>
<tr>
<th style="padding-left:50">• Number of female BSc</th>
<td class="text-right">4.0</td>
<td class="text-right">9.0</td>
<td class="text-right">20.0</td>
<td class="text-right">0.0</td>
<td class="text-right">0.0</td>
<td class="text-right">6.0</td>
<td class="text-right">25.0</td>
<td class="text-right">5.0</td>
<td class="text-right">43.0</td>
</tr>
<tr>
<th style="padding-left:50">• Number of female MSc</th>
<td class="text-right">4.0</td>
<td class="text-right">9.0</td>
<td class="text-right">20.0</td>
<td class="text-right">0.0</td>
<td class="text-right">0.0</td>
<td class="text-right">2.0</td>
<td class="text-right">25.0</td>
<td class="text-right">5.0</td>
<td class="text-right">43.0</td>
</tr>
<tr>
<th style="padding-left:50">• Number of female PhD</th>
<td class="text-right">4.0</td>
<td class="text-right">9.0</td>
<td class="text-right">20.0</td>
<td class="text-right">0.0</td>
<td class="text-right">1.0</td>
<td class="text-right">0.0</td>
<td class="text-right">25.0</td>
<td class="text-right">5.0</td>
<td class="text-right">43.0</td>
</tr>
<tr>
<th>Total number of improved technologies formally recommended by the national research center and subsequently formally promoted by the advisory services</th>


<td class="text-right">21.0</td>
<td class="text-right">805.0</td>
<td class="text-right">0.0</td>
<td class="text-right">6.0</td>
<td class="text-right">160.0</td>
<td class="text-right">0.0</td>
<td class="text-right">301.0</td>
<td class="text-right">49.0</td>
<td class="text-right">329.0</td>
</tr>
<tr>
<th style="padding-left:30">+ Type of technology</th>

<td class="text-right">21.0</td>
<td class="text-right">805.0</td>
<td class="text-right">0.0</td>
<td class="text-right">6.0</td>
<td class="text-right">160.0</td>
<td class="text-right">0.0</td>
<td class="text-right">301.0</td>
<td class="text-right">49.0</td>
<td class="text-right">329.0</td>
</tr>
<tr>
<th style="padding-left:50">• Cassava</th>
<td class="text-right">3.0</td>
<td class="text-right">115.0</td>
<td class="text-right">0.0</td>
<td class="text-right">0.0</td>
<td class="text-right">6.0</td>
<td class="text-right">0.0</td>
<td class="text-right">43.0</td>
<td class="text-right">7.0</td>
<td class="text-right">47.0</td>
</tr>
<tr>
<th style="padding-left:50">• Legumes</th>
<td class="text-right">3.0</td>
<td class="text-right">115.0</td>
<td class="text-right">0.0</td>
<td class="text-right">0.0</td>
<td class="text-right">23.0</td>
<td class="text-right">0.0</td>
<td class="text-right">43.0</td>
<td class="text-right">7.0</td>
<td class="text-right">47.0</td>
</tr>
<tr>
<th style="padding-left:50">• Maize</th>
<td class="text-right">3.0</td>
<td class="text-right">115.0</td>
<td class="text-right">0.0</td>
<td class="text-right">0.0</td>
<td class="text-right">6.0</td>
<td class="text-right">0.0</td>
<td class="text-right">43.0</td>
<td class="text-right">7.0</td>
<td class="text-right">47.0</td>
</tr>
<tr>
<th style="padding-left:50">• Number of improved agronomic, pest and disease, and water management  practices</th>
<td class="text-right">3.0</td>
<td class="text-right">115.0</td>
<td class="text-right">0.0</td>
<td class="text-right">1.0</td>
<td class="text-right">19.0</td>
<td class="text-right">0.0</td>
<td class="text-right">43.0</td>
<td class="text-right">7.0</td>
<td class="text-right">47.0</td>
</tr>
<tr>
<th style="padding-left:50">• Number of improved post-harvest storage, labor-saving and processing technologies</th>
<td class="text-right">3.0</td>
<td class="text-right">115.0</td>
<td class="text-right">0.0</td>
<td class="text-right">0.0</td>
<td class="text-right">45.0</td>
<td class="text-right">0.0</td>
<td class="text-right">43.0</td>
<td class="text-right">7.0</td>
<td class="text-right">47.0</td>
</tr>
<tr>
<th style="padding-left:50">• Number of improved seed varieties</th>
<td class="text-right">3.0</td>
<td class="text-right">115.0</td>
<td class="text-right">0.0</td>
<td class="text-right">3.0</td>
<td class="text-right">51.0</td>
<td class="text-right">0.0</td>
<td class="text-right">43.0</td>
<td class="text-right">7.0</td>
<td class="text-right">47.0</td>
</tr>
<tr>
<th style="padding-left:50">• Rice</th>
<td class="text-right">3.0</td>
<td class="text-right">115.0</td>
<td class="text-right">0.0</td>
<td class="text-right">2.0</td>
<td class="text-right">10.0</td>
<td class="text-right">0.0</td>
<td class="text-right">43.0</td>
<td class="text-right">7.0</td>
<td class="text-right">47.0</td>
</tr>
</tbody>
</table></body><head><link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet"/></head>
<script type="text/javascript">
    window.print();
</script>

</html>
