body {
  overflow-x: hidden;
}

.wrapper {
    height: 100%;
    overflow:hidden;
}

.sidebar-wrapper {
  min-height: 100vh;
  margin-left: 320px;
  -webkit-transition: margin .1s ease-out;
  -moz-transition: margin .1s ease-out;
  -o-transition: margin .1s ease-out;
  transition: margin .1s ease-out;
}

.sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

.sidebar-wrapper .list-group {
  width: 20rem;
  cursor: pointer;
}

.submit-block {
    text-align:center;
    padding:40px;
}

.data-point{
    margin-left: auto;
}

.data-point-name{
    font-size: 16px;
    margin-bottom: auto;
}

.data-point-id{
    display:block;
    font-size: 14px;
}

.page-content-wrapper {
  height: 100%;
  min-width: 100vw;
}

.fixed-container {
  height: 100%;
  overflow:scroll;
  padding-bottom: 50px;
}

.wrapper.toggled .sidebar-wrapper {
  margin-left: 0;
}

.bg-current {
    background-color:#dae0e5!important;
}
.card {
    margin-bottom: 1.5rem!important;
}
.card-body {
    background: #f8f9fa;
}
.card-title {
    border-bottom: 1px solid #dfdfdf;
    padding: 0px 0px 20px;
}

.card-title .badge.badge-warning{
    float: right;
    color: #FFF;
    border-radius: 100%;
    width: 20px;
    line-height: 10px;
    border: 2px solid #FFF;
}

.swal-button-container {
    width: 100%;
}

.swal-button {
    width: 100%;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (min-width: 768px) {
  .sidebar-wrapper {
    margin-left: 0;
  }

  .page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  .wrapper.toggled .sidebar-wrapper {
    margin-left: -390px;
  }
}

img.responsive-image {
    width: 100%;
    padding: 20px;
}
