apiVersion: batch/v1
kind: Job
metadata:
  name: tc-webform-test-${TRAVIS_COMMIT}
spec:
  template:
    spec:
      containers:
        - name: tc-webform-test
          image: eu.gcr.io/akvo-lumen/tc-webform-test:${TRAVIS_COMMIT}
          resources:
              requests:
                cpu: "50m"
                memory: "256Mi"
              limits:
                cpu: "1000m"
                memory: "768Mi"
      restartPolicy: Never
  backoffLimit: 0

