body {
    font-family: 'Assistant', sans-serif;
}
.center {
    text-align:center;
}

.card-image{
}

.mobile-header-image{
    display:none;
} 

.thumbnails {
    width: 100%;
    min-width: 100%;
    text-align: center;
    height:215px;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px #ddd solid;
}

.container-hidden {
    display:none;
}

.thumbnails img {
    width: 100%;
    min-width: 100%;
    transition: all .1s;
}

.thumbnails:hover > img {
    width: 110%;
    margin: -5% 5% -5% -5%;
}

.thumbnails-footer {
    color: #ffffff;
    background-color: #202020!important;
    border-color: #080808;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: inset 0px 5px 10px 2px rgb(0, 0, 0);
}
.thumbnails-footer .btn-card{
    border: 2px solid #fff!important;
}

.footer,
.tagline{
    margin: 3rem 0 5rem;
    background-color: #03ad8c;
    min-width: 100%;
    padding: 3rem;
    text-align:center;
    box-shadow: inset 0px -20px 20px 0px rgba(0, 0, 0, 0.27);
    transition: all .5s;
}
.tagline.tagline-poc{
    background-color: #404898;
    margin-top: 3rem;
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.5)
}
.tagline.tagline-hidden{
    height: 0px;
    padding: 0px;
    margin: 0px;
}
.tagline.tagline-hidden button{
    display: none;
}

.tagline.tagline-hidden h1{
    display:none;
}

.container {
    transition: all .5s;
}

.container-thumbnails {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tagline h1 {
    font-weight:bold;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: #ffffff;
    text-shadow: 2px 2px #202020;
}
.footer h3,
.tagline h3 {
    font-weight:thin;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: #ffffff;
}
.filter-name{
    font-weight: bold;
    line-height: 38px;
    font-size: 20px;
}

button.btn-filter{
    padding: 0px;
    border: 0px;
    border-radius: 5px;
    margin: 5px;
}

button.btn-filter .filter-text{
    padding: 10px 0px 10px 10px;
}

button .close-icon{
    display: inline;
    padding: 5px;
    border: none;
    border-radius: 5px;
    line-height: 30px;
}

.footer button,
.tagline button{
    font-weight:bold;
    color: #ffffff;
    background-color:transparent;
    border: 2px solid #ffffff;
	box-shadow: 0 0 18px 5px rgba(0, 0, 0, 0.21); 
}

.footer {
    color: #ffffff;
    margin: 5rem 0 0;
    background-color: #202020!important;
    border-color: #080808;
    box-shadow: inset 0px 5px 10px 2px rgb(0, 0, 0); 
}

.footer a {
    padding-bottom: 2px;
    border-bottom: 1px solid #e04d95!important;
    color: #ffffff;
}

.footer a:hover{
    text-decoration: none;
    border-bottom: 1px solid #03ad8c!important;
}

.navbar {
    padding: .2rem 3rem;
}
.NavDark {
    background-color:#202020!important;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
.navbar-dark .navbar-nav .nav-link {
    color: #FFF;
    font-weight: 400;
    font-size: 17px;
    text-rendering: optimizeLegibility;
    font-family: 'Assistant', sans-serif;
}

.jumbotron,
.carousel {
    margin-top: 55px;
}

.btn {
    border-radius:0px;
}

.btn-primary {
    background-color: #03ad8c;
    font-family: 'Assistant', sans-serif;
    border: 1px solid #0e9e82 !important;
}

.btn-primary:hover {
    background-color: #00c19c;
}

.btn-card {
    font-weight:bold;
}

.card-title.h5 {
    font-size: 16px;
    font-weight: bold;
}

.slick-next:before, .slick-prev:before {
    font-size: 30px;
    line-height: 1;
    opacity: 1;
    color: #1f1f1f;
}
.slick-prev {
    left: -37px;
}

.slick-dots {
    bottom: -3rem;
}

.slick-dots li {
    width: 100px;
    margin: 10px;
}

.slick-dots img {
    width: 90px;
    border: 2px solid #fff;
}

.footer .btn-website{
    padding: 1rem 2rem;
    font-size: 1.2rem;
    text-align:center;
    font-weight:bold;
    background-color: transparent;
    border: 3px solid #ffffff !important;
    box-shadow: 0px 5px 10px 2px rgb(0, 0, 0); 
}
.footer .btn-website:hover{
    background: #03ad8c;
    border: 3px solid #03ad8c !important;
}

.jumbotron {
    width: 100%;
    min-width: 100%;
    padding: 0px;
}

h1.title-page{
    font-weight: bold;
    font-size: 2rem;
    text-align:center;
    margin: 1rem;
}

.jumbotron .content{
    text-align: center;
    margin-top: 4rem;
    padding: 1rem;
}

.jumbotron .content h3 {
    margin-bottom: 1rem;
    font-weight:bold;
}

.jumbotron .content p {
    padding: 1rem 3rem 0;
}
.jumbotron table {
    margin: auto;
    text-align: right;
}
.jumbotron table td{
    padding: 5px;
    width: 50%;
    border: none;
}
.jumbotron table td.text-left{
    color: #03ad8c;
    font-weight: bold;
    text-align: left;
}
.jumbotron .footer {
	margin-top: 0;
}
.end-poc.card-body {
    height: 351px;
}
.end-poc h1 {
    margin-top:30px;
    font-weight: bold;
    font-size: 49px;
    text-transform: uppercase;
    color: #202020;
    line-height: 43px;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 600px) {
  .slick-dots,
  .slick-arrow{
      display:none!important;
  }
  .content{
      margin-top: 0rem!important;
  }
  .navbar-dark .navbar-toggler {
      border:none;
  }
  .navbar-expand-lg{
      width:100%;
      padding: 10px 20px; 
  }
  .collapse:not(.show) {
      display: inline-block;
  }
  .navbar-collapse.collapse{
      display: inline-block;
      flex-basis: 0px;
      text-align:right;
  }
  .navbar-collapse.collapse .form-inline{
      display:none;
  }
  .navbar-nav {
      display:inline-block;
  }
  .carousel {
      display:none;
  }
  .mobile-header-image{
      display:block;
      width:100%;
      max-width: 100%;
      overflow:hidden;
  }
  .mobile-header-image img{
      height: 260px;
      width: 1000%;
  } 
  .mobile-header-image h1{
      color: #505050;
      position: absolute;
      top: 120px;
      font-weight: bold;
      line-height: 35px;
      text-align:center;
      margin-left: 10px;
      margin-right: 10px;
      text-shadow: 2px 2px #ddd;
  }
  .tagline{
      padding: 3rem 1rem;
  }
    .footer h3,
    .tagline h3 {
        font-size: 16px;
    }
}
