body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.bg-light {
    background-color: white !important;
}

.loading-frame {
    width: 100%;
    display: block;
    height: 450px;
    position: relative;
}

.spinner-border {
    position: absolute;
    left: 50%;
    top: 45%;
}

.info.legend {
    background-color:#FFF;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
}

.legend.block {
    display: block;
}

.legend-icons{
    width: 10px;
    height: 10px;
    border-radius:10px;
    display: inline-block;
}

.legend-text {
    color: #343a40;
    line-height: 10px;
    padding-left: 5px;
}
