Flask==0.12.2
Flask-BasicAuth==0.2.0
Flask-SocketIO==3.0.0
Jinja2==2.10
jsonschema==2.6.0
numpy==1.14.2
pafy==0.5.4
pandas==0.22.0
pandocfilters==1.4.2
psutil==5.4.5
ptyprocess==0.5.2
pycodestyle==2.3.1
pycosat==0.6.3
python-dateutil==2.7.2
python-engineio==2.1.1
python-socketio==1.9.0
requests==2.18.4
urllib3==1.22
webencodings==0.5.1
Werkzeug==0.14.1
xmltodict==0.11.0
