/node_modules
/public/hot
/public/storage
/public/uploads
/public/js
/public/css
/public/images
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
sync.sh
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
/dev/*.org
