@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

$color-primary: rgb(79, 46, 24); /*brown*/
$color-secondary: rgb(246, 247,235); /*beige*/
$color-tertiary: rgb(118,167,66); /*green*/
$color-yellow: rgb(254,206,11); /*yellow*/
$color-red: rgb(221,39,38); /*red*/


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 1.7;
}
h1, h2, h3, h4, h5 {
    color: $color-tertiary;
}

header {
    background-color: $color-primary;
    border-bottom:.1rem solid  $color-secondary;
    .navbar {
        .navbar-brand {
            text-transform: uppercase;
            margin-right: 4rem;
            color: $color-secondary;
            &:hover {
                color: $color-tertiary;
            }
        }
        .navbar-light {
            .navbar-toggler {
                color: rgba($color-secondary, 1);
                border-color: rgba($color-secondary, 1);
                .navbar-toggler-icon {                
                    color: rgba($color-secondary, 1);
                }  
            } 
        }
        .navbar-nav {
            .nav-link {
                color: $color-secondary;
                &.active {
                    color: $color-tertiary;
                }
                &:hover {
                    color: $color-tertiary;
                }
            }
        }
    }
}
main {
    padding: 2rem 0;
    background: $color-secondary;
    h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}
.jumbotron {
    margin:0;
    border-radius: 0 !important;
    height: 20vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.12    ),
        rgba($color-tertiary, 0.2)),
    url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        font-weight: 400;
        font-size: 2rem;
        letter-spacing: 1rem;
        }
    }
footer {
    background: white;
    text-align: center;
    padding: 2rem 0;
    border-top:.1rem solid  $color-secondary;
    border-bottom:.1rem solid  $color-secondary;
    .mt-md-5 {
        margin-top: 0 !important;
    }
    .partnersLg {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        list-style: none;
        height: 15rem;
        width: 80%;
        margin: 0 auto;

        .partnerImg {
            padding: .5rem;
            width: 33%;
            height: 15rem;
            margin: 0 .5% 0 0;
            line-height: 15rem;
            color: white;
            font-weight: bold;
            font-size: 3rem;
            text-align: center;

            a {
                img {
                max-height: 12rem;
                max-width: 75%;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
  .copyRights {
    margin: 2rem auto 0;
  }

.definitionList {
    width: 80%;
    margin: 0 auto;
    dl {
    display: flex;
    flex-flow: row wrap;
        dt {
            flex-basis: 20%;
            padding:0.75rem 1rem;
            background: rgba($color-primary,0.4);
            text-align: left;
            color: $color-primary;
            font-weight: 400;
            &:not(last-child) {margin-bottom: .5rem;}
        }
        dd {
            flex-basis: 70%;
            flex-grow: 1;
            margin: 0;
            padding: 0.75rem 1rem;
            border-bottom: 1px solid rgba($color-primary,0.4);
            border-top: 1px solid rgba($color-primary,0.4);
            border-right: 1px solid rgba($color-primary,0.4);
            &:not(last-child) {margin-bottom: .5rem;}
            border-radius: 0 0 .5rem 0;
        }
    } 

}