<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="home">
  <div class="w-100">
    <h1 class="mb-0">APPSA
      <span class="text-primary">CCARDESA</span>
    </h1>
    <div class="subheading mb-5">
        <a href="http://www.ccardesa.org/programmes/appsa/">APPSA</a> {{project_parent.subtitle}}
    </div>
    <p class="lead mb-5">{{project_parent.project_plan_summary}}</p>
    <a href="#projects" class="btn btn-success btn-lg js-scroll-trigger">Start Generate Reports</a>
  </div>
</section>

<hr class="m-0">

