<section class="resume-section report-section p-3 p-lg-5 d-flex justify-content-center" id="report">
    <table id="rsr_table" class="table table-striped display" style="display:none;">
        <thead>
            <tr>
				<th rowspan="2"><p>Project</p></th>
				<th rowspan="2"><p>Indicator</p></th>
                <th rowspan="2"><p>PDO Level Results Indicators</p></th>
                <th class="text-right">Regional Y4</th>
                <th class="text-center" colspan="3">Cumulative Actual Values</th>
                <th class="text-center" colspan="4">Y4 RCoLs Targets</th>
            </tr>
            <tr>
                <th class="text-right">Target</th>
                <th class="text-right">MW</th>
                <th class="text-right">MZ</th>
                <th class="text-right">ZM</th>
                <th class="text-right">MW</th>
                <th class="text-right">MZ</th>
                <th class="text-right">ZM</th>
                <th class="text-right">Total</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</section>
