/node_modules
/public/hot
/public/images
/public/js
/public/vendor
/public/css
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/.ipynb_checkpoints
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
.env
.phpunit.result.cache
*.xlsx
/__pycache__
*.txt
*.bkp
